Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  setup:
    jobs:
      - run:
        name: Checkout Submodules
        command: |
            git submodule sync
            git submodule update --init --recursive --jobs 8
      - path-filtering/filter:
          base-revision: main
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
          config-path: .circleci/workflows.yml

adds linting and formatting tools
  package.json
  packages/taraxa-ui/tsconfig.json
  services/community-site/.prettierrc
  services/community-site/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

adds husky linting check
  package.json
Due: none

adds linting and formatting tools
  package.json
Due: none

removes react-font dep from taraxa-ui
  packages/taraxa-ui/package.json
  packages/taraxa-ui/src/components/DataCard/DataCard.tsx
  packages/taraxa-ui/src/components/DataCard/datacard-styles.tsx
  packages/taraxa-ui/src/components/IconCard/IconCard.tsx
  packages/taraxa-ui/src/components/IconCard/iconcard-styles.tsx
  packages/taraxa-ui/src/components/ProfileCard/ProfileCard.tsx
  packages/taraxa-ui/src/components/ProfileCard/profilecard-styles.tsx
  packages/taraxa-ui/src/components/TopCard/TopCard.tsx
  packages/taraxa-ui/yarn.lock
  services/community-site/yarn.lock
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

adds node status app to monorepo
  package.json
  packages/taraxa-ui/rollup.config.js
  services/node-status/.dockerignore
  services/node-status/.gitignore
  services/node-status/Dockerfile
  services/node-status/README.md
  services/node-status/lib/rpc.js
  services/node-status/next.config.js
  services/node-status/package.json
  services/node-status/pages/api/address.js
  services/node-status/pages/api/status.js
  services/node-status/pages/index.js
  services/node-status/public/favicon.ico
Due: ui-package-modified

fixes forgot password modal message
  services/community-site/src/components/Modal/ForgotPasswordSuccess.tsx
Due: run-community-site-service-workflow

fixes sidebar icons width
  services/community-site/src/components/NavLink/navlink.scss
Due: run-community-site-service-workflow

changes qa claim contract address
  charts/qa.values.yaml
Due: none

adds claim functionality
  services/community-site/.env
  services/community-site/.env_stage
  services/community-site/Dockerfile
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
  services/community-site/charts/prod.values.yaml
  services/community-site/charts/qa.values.yaml
  services/community-site/docker-files/entrypoint.sh
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/pages/Home/Home.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useClaim.ts
  services/community-site/src/utils/eth.ts
Due: run-community-site-service-workflow

adds email confirmation notification
  packages/taraxa-ui/src/components/Notification/Notification.tsx
  services/community-site/src/App.scss
  services/community-site/src/App.tsx
  services/community-site/src/pages/Home/Home.tsx
  services/community-site/src/services/useAuth.tsx
Due: ui-package-modified, run-community-site-service-workflow

adds email confirmation notification for signin
  services/community-site/src/components/Modal/SignIn.tsx
  services/community-site/src/services/useAuth.tsx
Due: run-community-site-service-workflow

bounties page
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  packages/taraxa-ui/src/components/RewardCard/rewardcard-styles.tsx
  packages/taraxa-ui/src/components/VerticalRewardCard/VerticalRewardCard.stories.tsx
  packages/taraxa-ui/src/components/VerticalRewardCard/VerticalRewardCard.tsx
  packages/taraxa-ui/src/components/VerticalRewardCard/index.ts
  packages/taraxa-ui/src/components/VerticalRewardCard/verticalrewardcard-styles.tsx
  packages/taraxa-ui/src/index.ts
  packages/taraxa-ui/tsconfig.json
  services/community-site/package.json
  services/community-site/src/App.scss
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/Home/Home.tsx
  services/community-site/tsconfig.json
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

adds Markdown component
  services/community-site/src/components/Markdown.tsx
Due: run-community-site-service-workflow

adds bounty details page
  services/community-site/src/App.scss
  services/community-site/src/App.tsx
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/bounty.ts
Due: run-community-site-service-workflow

adds bounty submission page
  packages/taraxa-ui/src/components/SubmitCard/SubmitCard.tsx
  services/community-site/src/App.tsx
  services/community-site/src/components/NavLink/NavLink.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/BountySubmit.tsx
Due: ui-package-modified, run-community-site-service-workflow

show submissions on redeem page
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/services/useSubmissions.ts
Due: run-community-site-service-workflow

bounties - remove the requirement to submit
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/bounty.ts
Due: ui-package-modified, run-community-site-service-workflow

bounties - submit page redirect and disable button on details page
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/BountySubmit.tsx
Due: ui-package-modified, run-community-site-service-workflow

bounties - list grid layout
  services/community-site/src/pages/Bounties/bounties.scss
Due: run-community-site-service-workflow

bounties list - ui tweaks
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  packages/taraxa-ui/src/components/RewardCard/rewardcard-styles.tsx
Due: ui-package-modified

bounties list - detailed bounty page description too close to the button
  packages/taraxa-ui/src/components/RewardCard/rewardcard-styles.tsx
  services/community-site/src/pages/Bounties/bounties.scss
Due: ui-package-modified, run-community-site-service-workflow

bounties details page - responsive
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  services/community-site/src/pages/Bounties/bounties.scss
Due: ui-package-modified, run-community-site-service-workflow

bounties details page - responsive
  services/community-site/src/pages/Bounties/bounties.scss
Due: run-community-site-service-workflow

bounties - active icon
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  packages/taraxa-ui/src/components/RewardCard/rewardcard-styles.tsx
  services/community-site/src/App.scss
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/RunNode/runnode.scss
Due: ui-package-modified, run-community-site-service-workflow

adds proof of ownership to register node modal
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/runnode.scss
Due: run-community-site-service-workflow

new node status page design
  packages/taraxa-ui/src/components/Header/Header.tsx
  packages/taraxa-ui/src/components/app.scss
  services/community-site/src/components/Header/Header.tsx
  services/node-status/next.config.js
  services/node-status/package.json
  services/node-status/pages/_app.js
  services/node-status/pages/index.js
  services/node-status/styles/app.scss
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

adds image build for node status app
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

fixes docker build
  services/community-site/Dockerfile
Due: run-community-site-service-workflow

fixes node status build
  package.json
  packages/taraxa-ui/.dockerignore
  services/node-status/.dockerignore
  services/node-status/Dockerfile
Due: ui-package-modified

bounty locales
  package.json
  packages/taraxa-ui/.dockerignore
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/Bounties/bounty.ts
  services/node-status/.dockerignore
  services/node-status/Dockerfile
Due: ui-package-modified, run-community-site-service-workflow

bounty locales
  services/community-site/src/pages/Bounties/bounties.scss
Due: run-community-site-service-workflow

change chart name
  services/community-site/charts/community-site/Chart.yaml
Due: run-community-site-service-workflow

moved helm charts
  charts/community-site/.helmignore
  charts/community-site/Chart.yaml
  charts/community-site/templates/NOTES.txt
  charts/community-site/templates/_helpers.tpl
  charts/community-site/templates/community-frontend-deployment.yaml
  charts/community-site/templates/community-frontend-hpa.yaml
  charts/community-site/templates/community-frontend-serviceaccount.yaml
  charts/community-site/templates/community-frontend-svc.yaml
  charts/community-site/templates/community-ingress.yaml
  charts/community-site/templates/custom-error-community.yaml
  charts/community-site/values.yaml
  charts/kind.values.yaml
  charts/prod.values.yaml
  charts/qa.values.yaml
Due: none

fixes proof of ownership docs links
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
Due: run-community-site-service-workflow

define service type
  charts/community-site/values.yaml
Due: none

removed metalabels
  charts/community-site/templates/_helpers.tpl
Due: none
