Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow

moves packages in monorepo
  .circleci/config.yml
  .circleci/workflows.yml
  .gitmodules
Due: none

moves packages in monorepo
  .circleci/workflows.yml
Due: none

docker build workflow test
  .circleci/workflows.yml
Due: none

docker build workflow test
  services/community-site/.dockerignore
Due: run-community-site-service-workflow

docker build workflow test
  packages/taraxa-ui/package.json
Due: ui-package-modified

docker build workflow test
  services/community-site/Dockerfile
Due: run-community-site-service-workflow

fixes typo in staking contract address
  services/community-site/docker-files/entrypoint.sh
Due: run-community-site-service-workflow

fixes env var names in k8s deployment
  services/community-site/.dockerignore
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
Due: run-community-site-service-workflow

Merging work
  packages/taraxa-ui/src/components/Modal/Modal.tsx
  packages/taraxa-ui/src/components/ModalTitle/ModalTitle.stories.tsx
  packages/taraxa-ui/src/components/ModalTitle/ModalTitle.tsx
  packages/taraxa-ui/src/components/ModalTitle/modaltitle-styles.tsx
  packages/taraxa-ui/src/index.ts
  services/community-site/src/components/Modal/Modal.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: ui-package-modified, run-community-site-service-workflow

Fix build ui
  packages/taraxa-ui/src/components/Modal/Modal.tsx
  packages/taraxa-ui/src/components/ModalTitle/index.ts
Due: ui-package-modified

Remove old title
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
Due: run-community-site-service-workflow

Fix title logic
  services/community-site/src/pages/RunNode/Modal/UpdateNode.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

Mobile css
  packages/taraxa-ui/src/components/Modal/Modal.tsx
  packages/taraxa-ui/src/components/app.scss
  services/community-site/src/components/Modal/Modal.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: ui-package-modified, run-community-site-service-workflow

fixes submissions that don't have bounties
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

adds staking FAQ links
  services/community-site/src/App.scss
  services/community-site/src/components/Title/Title.tsx
  services/community-site/src/pages/Staking/Modal/StakingSuccess.tsx
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/src/pages/Staking/staking.scss
Due: run-community-site-service-workflow

WIP
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/pages/Bounties/Bounties.tsx
Due: run-community-site-service-workflow

adds google analytics code
  .circleci/workflows.yml
  services/community-site/public/index.html
  services/community-site/src/App.tsx
  services/community-site/src/components/Title/Title.tsx
  services/community-site/src/pages/Staking/Modal/StakingSuccess.tsx
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

fixes build process
  .circleci/workflows.yml
Due: none

test build
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
Due: run-community-site-service-workflow

test build
  .circleci/workflows.yml
  services/community-site/src/App.tsx
Due: run-community-site-service-workflow

Incentivized testnet bounty
  packages/taraxa-ui/src/components/RewardCard/rewardcard-styles.tsx
  services/community-site/src/pages/Bounties/bounties.scss
Due: ui-package-modified, run-community-site-service-workflow

test deploy
  .circleci/workflows.yml
  services/community-site/charts/prod.values.yaml
Due: run-community-site-service-workflow

test deploy
  .circleci/workflows.yml
  services/community-site/charts/prod.values.yaml
  services/community-site/charts/qa.values.yaml
Due: run-community-site-service-workflow

only build and deploy on main and develop
  .circleci/workflows.yml
Due: none

Tweak bounty cards to active/inactive/pinned
  packages/taraxa-ui/src/components/VerticalRewardCard/VerticalRewardCard.tsx
  packages/taraxa-ui/src/components/VerticalRewardCard/verticalrewardcard-styles.tsx
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/bounties.scss
Due: ui-package-modified, run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
